body {
  background: rgb(37, 34, 34);
  font-family: 'Alegreya', serif;
}

section {
  border-radius: 5em;
  position: absolute;
  left: 50%;
  max-width: 900px;
}



h1,
h2,
h3,
h4,
h5,
h6 {

  font-weight: 600;
  margin-top: 0;
  text-align: center;

}


a {
  text-decoration: none;
  columns: black;
}

a:hover {
  text-decoration: red;
}

p {
  font-size: 1.0em;

}

* {
  box-sizing: border-box;
}

.column {
  float: left;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}