body {
  background: rgb(231, 224, 224);
  font-family: 'Alegreya', serif;
}

section {
  border-radius: 5em;
  max-width: 1024px;
  margin: auto;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  text-align: center;

}


a {
  text-decoration: none;
  columns: black;
}

a:hover {
  text-decoration: red;
}

p {
  font-size: 1.0em;

}

* {
  box-sizing: border-box;
}

.column {
  float: left;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}