body {
  background: rgb(231, 224, 224);
  font-family: 'Alegreya', serif;
}

section {
  border-radius: 5em;
  max-width: 1024px;
  margin: auto;
  padding-top: 100px;

}

wrapper {
  text-align: center;
  margin: 20px;
}

rapper {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}


a {
  text-decoration: none;
  columns: black;
}

a:hover {
  text-decoration: red;
}

p {
  font-size: 0.96em;
  font-weight: 300;
}

quote {
  font-weight: 600;
  font-style: italic;
  margin: 50px;
}

* {
  box-sizing: border-box;
}

header {
  font-weight: 600;
  font-size: 1.1em;
}

.column {
  float: left;
}

.left {
  width: 10%;
  text-align: left;
}

.right {
  width: 85%;
}

.feature-left {
  width: 33%;
  text-align: left;
}

.feature-middle {
  width: 33%;
  text-align: left;
}

.feature-right {
  width: 33%;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}